// Primary Colors
$color-primary: #7868d8;
$color-primary-dark: #483e82;
$color-white: #fff;

// Secondary Colors
$color-secondary: #ccf1e6;
$color-secondary-light: #fff9e5;
$color-secondary-dark: #d6e8f5;

// Accent Colors
$color-accent: #5cd5dd;
$color-accent-light: #feeef3;

// Text Colors
$text-color-dark: #353a3f;
$text-color-light: #737373;

// comments color
$text-color-hero-comment1: #7a2a44;
$text-color-hero-comment2: #005c42;
$text-color-hero-comment3: #806400;
$text-color-hero-comment4: #194567;

// Background Color
$bg-color: #f8f8f8;

// Button Color
$btn-color: #dbdbdb;
