// Primary Colors
$primary-color: #7868d8;
$primary-dark: #483e82;
$white-color: #fff;

// Secondary Colors
$secondary-color: #ccf1e6;
$secondary-color-2: #fff9e5;
$secondary-color-3: #d6e8f5;

// Accent Colors
$accent-color: #5cd5dd; // Example orange color
$accent-color-2: #feeef3;

// Text Colors
$text-color-dark: #353a3f;
$text-light: #737373;
$text-color-3: #7a2a44;
$text-color-4: #005c42;
$text-color-5: #806400;
$text-color-6: #194567;

//Background Color
$bg-color-2: #f8f8f8;
