.about-us {
  background: $color-primary;
  padding-block: 2em;
  text-align: center;

  .container {
    h2,
    p {
      color: $color-white;
    }

    p {
      margin-top: 1.25em;
      line-height: 1.42;
      font-size: 0.875rem;
      font-size: $fs-medium3;
      font-weight: 400;
    }
  }
}
