.header {
  background: $bg-color;
  padding-block: 1em;
  box-shadow: 0px 2px 30px 0px #0000001a;
  border-bottom: 1px solid $btn-color;
  position: fixed;
  width: 100%;
  z-index: 100;

  .logo {
    width: 50px;
  }

  .login {
    font-size: $fs-medium2;
    gap: 0.86em;
    text-transform: uppercase;

    &:hover {
      color: $color-primary-dark;
    }

    .login-text,
    .get-started {
      padding: 0.43em 0.86em;
      border-radius: 8px;

      &:active {
        background: #f1f0fb;
        color: $color-primary;
        border: 1px solid $color-primary;
      }
    }

    .get-started {
      background: $color-primary;
      color: $color-white;

      &:hover {
        background: $color-primary-dark;
      }
    }
  }
}
