@import "../base/base";

.hero {
  .hero-container {
    .hero_content {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-block: 9em;
      position: relative;

      .hero-customer-feedback {
        .customer-img-container {
          position: absolute;
          max-width: 180px;
          gap: 12px;

          &:nth-child(1) {
            left: 0;
            top: 21px;
            flex-direction: row-reverse;
          }

          &:nth-child(2) {
            top: 65px;
            right: 0;
          }

          &:nth-child(3) {
            left: 0;
            bottom: 21px;
            flex-direction: row-reverse;
          }

          &:nth-child(4) {
            bottom: 65px;
            right: 0;
            align-items: start;
          }

          .customer_img {
            width: 24px;
            display: block;
            height: auto;
          }

          p {
            font-size: $fs-hero-comment;
            padding: 0.5em 1em;
            border-radius: 8px;
          }

          &:nth-child(1) {
            p {
              background: $secondary-color;
              color: $text-color-4;
            }
          }
          &:nth-child(2) {
            p {
              background: $accent-color-2;
              color: $text-color-3;
            }
          }
          &:nth-of-type(3) {
            p {
              background: $secondary-color-2;
              color: $text-color-5;
            }
          }
          &:nth-of-type(4) {
            p {
              background: $secondary-color-3;
              color: $text-color-6;
            }
          }
        }
      }

      .hero-title {
        font-size: 2rem;
        font-size: $fs-hero-title;
        max-width: 572px;
        margin: 0 auto;

        span {
          color: $accent-color;
        }
      }

      .hero-text {
        padding-block: 2em;
        font-size: 1rem;
        font-size: $fs-medium1;
        line-height: 1.25;
      }

      .get-started {
        background: $primary-color;
        color: $white-color;
        border-radius: 8px;
        padding: 0.86em 2.36em;
        margin-bottom: 2em;
      }
    }

    .hero-video {
      margin-top: 2em;
    }
  }
}
