.partners {
  position: relative;
  .partners-container {
    @media (min-width: 700px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .left {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;

      .title {
        @media (min-width: 700px) {
          align-self: start;
        }
      }

      .slider-button-left,
      .slider-button-right {
        position: absolute;
        top: 50%;
        height: 40px;
        width: 40px;
        z-index: 5;
        cursor: pointer;

        @media (min-width: 700px) {
          display: none;
        }
      }

      .slider-button-left {
        left: -6px;
        transform: rotate(180deg);
      }

      .slider-button-right {
        right: -6px;
      }

      .slider-container {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;

        @media (min-width: 700px) {
          width: auto;
          overflow-x: auto;
          white-space: nowrap;
        }

        .partners-details {
          display: flex;
          align-items: center;
          gap: 1em;

          @media (min-width: 700px) {
            flex-wrap: wrap;
          }

          img {
            width: 124px;
            height: 130px;
            object-fit: contain;

            @media (min-width: 700px) {
              margin-top: 0;
              width: auto;
            }
          }
        }

        .slider-button-left {
          left: 1em;
        }
        .slider-button-right {
          right: 1em;
        }
      }
    }

    .right {
      width: 262px;
      margin: 2em auto 0;

      @media (min-width: 700px) {
        width: 50%;
      }
    }
  }

  .bg-svg-1 {
    position: absolute;
    width: 328px;
    top: 168px;
    z-index: -1;
    opacity: 0.07;
  }
}
