.partners-container {
  .left {
    position: relative;
    flex-direction: column;

    .slider-button-left,
    .slider-button-right {
      position: absolute;
      top: 50%;
      outline: none;
      border: none;
      height: 50px;
      width: 50px;
      z-index: 5;
      color: $text-color-dark;
      display: flex;
      cursor: pointer;
      font-size: 2.2rem;
      background: $btn-color-1;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      top: 70px;
    }

    .slider-button-left {
      left: -6px;
    }

    .slider-button-right {
      right: -6px;
    }

    .slider-container {
      width: 100%;
      overflow-x: auto;
      white-space: nowrap;

      .partners-details {
        gap: 10px;
      }
      img {
        margin-top: 1.25em;
        width: 124px;
        height: 80px;
      }

      .slider-button-left {
        left: 1em;
      }
      .slider-button-right {
        right: 1em;
      }
    }
  }

  .right {
    width: 262px;
    margin: 2em auto 0;
  }
}
