.plans {
  color: $text-color-dark;

  .plans-container {
    position: relative;

    .arrors-container {
      display: flex;
      position: absolute;
      top: 6px;
      right: 1em;
      gap: 0.5em;

      img {
        width: 10px;
        background: $color-white;
        box-shadow: 0px 2px 30px 0px #0000001a;
      }
    }

    .plan-type-btn-container {
      margin-top: 1.25em;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .monthly,
    .yearly {
      font-size: $fs-heading-3;
      font-family: $garet-font;
      padding: 0.75em;
      font-weight: 700;
    }

    .monthly {
      background: $color-primary;
      color: $color-white;
      border-radius: 8px 0px 0px 8px;
    }

    .yearly {
      color: $text-color-light;
      background: none;
      border-style: solid;
      border-width: 1px 1px 1px 0; /* top right bottom left */
      border-color: #a6a6a6;
      border-radius: 0px 8px 8px 0px;
    }

    .plan-details-container {
      // activate horizontal scroll
      display: flex;
      overflow: auto;
      scroll-snap-type: x mandatory;
      padding: 1.5em;
      gap: 1em;
      scroll-padding: 1.5em;

      @media (min-width: 700px) {
        overflow: hidden; //deactivate horizontal scroll
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }

      .plan-details {
        margin-top: 2em;
        background: $color-white;
        max-width: 240px;
        padding: 1em;
        border-radius: 8px;
        box-shadow: 0px 2px 30px 0px #0000001a;

        // for scrolling horizontally
        flex: 0 0 100%;
        scroll-snap-align: start;

        .plan-details-intro {
          text-align: center;
          .title {
            font-family: $garet-font;
            font-size: 1rem;
            font-size: $fs-heading-3;
            font-weight: 850;
          }

          .price {
            margin-top: 0.5em;
            font-size: 2rem;
            color: $color-accent;
            font-weight: 700;
          }

          .duration {
            font-size: 0.875rem;
            font-weight: 400;
          }
        }

        // add styles for additional benefits

        .addition-benefits-container {
          text-align: center;

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5em;

            background: $color-accent;
            color: $color-white;
            font-size: 0.875rem;
            font-size: $fs-medium3;
            font-weight: 700;
            width: 100%;
            padding-block: 0.75em;
            border-radius: 8px;
            font-size: 0.87rem;

            .arror {
              width: 10px;
            }
          }

          p {
            margin-top: 0.5em;
          }
        }

        .plan-benefits {
          .check-icon {
            width: 18px;
          }

          ul li {
            display: flex;
            align-items: center;
            margin-top: 0.75em;
            gap: 10px;
          }

          .choose-plan-btn-container {
            text-align: center;

            .choose-plan-btn {
              background: $color-white;
              color: $color-primary-dark;
              border: 1px solid $color-primary-dark;
              border-radius: 8px;
              padding: 0.75em 1.25em;
              margin-top: 1em;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
