@import "normalize";
@import "typography";

@import "../colors/variables";

body {
  background: $white-color;
  font-family: $sans-serif-font;
  font-weight: 500;
  margin: 0 auto;
}

p {
  color: $text-light;
}

h1,
h2 {
  font-family: $serif-font;
  color: $text-color-dark;
  font-weight: 850;
}

h2 {
  font-size: $fs-heading-2;
}
