@import "normalize";
@import "typography";
@import "../colors/variables";

body {
  background: $bg-color;
  font-family: $sans-serif-font;
  font-weight: 500;
  margin: 0 auto;
  line-height: 1.5;
}

.wrapper {
  overflow: hidden;
}

p {
  color: $text-color-light;
}

h1,
h2 {
  font-family: $garet-font;
  color: $text-color-dark;
  font-weight: 850;
}

h2 {
  font-size: $fs-heading-2;
  text-align: center;
}
