// define custom class
.container {
  padding-inline: 1rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
}

section {
  margin-top: 6.25em;
}
