// define custom class
.container {
  padding-inline: 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
}

section {
  margin-top: 5em;
}
