*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

@font-face {
  font-family: "Garet";
  src: url("/src/assets/fonts/garet") format("ttf");
  font-family: "Montserrat";
  src: url("/src/assets/fonts/monsterrat") format("ttf");
}
body {
  background: #f8f8f8;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0 auto;
}

p {
  color: #737373;
}

h1,
h2 {
  font-family: "Garet", serif;
  color: #353a3f;
  font-weight: 850;
}

.container {
  padding-inline: 1rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

@font-face {
  font-family: "Garet";
  src: url("/src/assets/fonts/garet") format("ttf");
  font-family: "Montserrat";
  src: url("/src/assets/fonts/monsterrat") format("ttf");
}
body {
  background: #f8f8f8;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0 auto;
}

p {
  color: #737373;
}

h1,
h2 {
  font-family: "Garet", serif;
  color: #353a3f;
  font-weight: 850;
}

.header {
  background: #f8f8f8;
  padding-block: 2em;
}
.header .logo {
  width: 50px;
}
.header .login {
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
  gap: 0.86em;
  text-transform: uppercase;
}
.header .login .login-text,
.header .login .get-started {
  padding: 0.43em 0.86em;
}
.header .login .get-started {
  background: #7868d8;
  color: #fff;
  border-radius: 8px;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

@font-face {
  font-family: "Garet";
  src: url("/src/assets/fonts/garet") format("ttf");
  font-family: "Montserrat";
  src: url("/src/assets/fonts/monsterrat") format("ttf");
}
body {
  background: #f8f8f8;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0 auto;
}

p {
  color: #737373;
}

h1,
h2 {
  font-family: "Garet", serif;
  color: #353a3f;
  font-weight: 850;
}

.hero .hero-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-block: 4em;
}
.hero .hero-title {
  font-size: 2rem;
  font-size: clamp(2rem, 1.7rem + 1.5vw, 3.5rem);
  max-width: 572px;
  margin: 0 auto;
}
.hero .hero-title span {
  color: #5cd5dd;
}
.hero .hero-text {
  padding-block: 2em;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  line-height: 1.25;
}
.hero .get-started {
  background: #7868d8;
  color: #fff;
  border-radius: 8px;
  padding: 0.86em 2.36em;
  margin-bottom: 2em;
}

.container {
  padding-inline: 1rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
