*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

@font-face {
  font-family: "Garet";
  src: url("/src/assets/fonts/garet") format("ttf");
  font-family: "Montserrat";
  src: url("/src/assets/fonts/monsterrat") format("ttf");
}
body {
  background: #f8f8f8;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0 auto;
}

p {
  color: #737373;
}

h1,
h2 {
  font-family: "Garet", serif;
  color: #353a3f;
  font-weight: 850;
}

.container {
  padding-inline: 1rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  margin-top: 6.25em;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

@font-face {
  font-family: "Garet";
  src: url("/src/assets/fonts/garet") format("ttf");
  font-family: "Montserrat";
  src: url("/src/assets/fonts/monsterrat") format("ttf");
}
body {
  background: #f8f8f8;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0 auto;
}

p {
  color: #737373;
}

h1,
h2 {
  font-family: "Garet", serif;
  color: #353a3f;
  font-weight: 850;
}

.header {
  background: #f8f8f8;
  padding-block: 2em;
}
.header .logo {
  width: 50px;
}
.header .login {
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
  gap: 0.86em;
  text-transform: uppercase;
}
.header .login .login-text,
.header .login .get-started {
  padding: 0.43em 0.86em;
}
.header .login .get-started {
  background: #7868d8;
  color: #fff;
  border-radius: 8px;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

@font-face {
  font-family: "Garet";
  src: url("/src/assets/fonts/garet") format("ttf");
  font-family: "Montserrat";
  src: url("/src/assets/fonts/monsterrat") format("ttf");
}
body {
  background: #f8f8f8;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0 auto;
}

p {
  color: #737373;
}

h1,
h2 {
  font-family: "Garet", serif;
  color: #353a3f;
  font-weight: 850;
}

.hero .hero-container .hero_content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-block: 9em;
  position: relative;
}
.hero .hero-container .hero_content .hero-customer-feedback .customer-img-container {
  position: absolute;
  max-width: 180px;
  gap: 12px;
}
.hero .hero-container .hero_content .hero-customer-feedback .customer-img-container:nth-child(1) {
  left: 0;
  top: 21px;
  flex-direction: row-reverse;
}
.hero .hero-container .hero_content .hero-customer-feedback .customer-img-container:nth-child(2) {
  top: 65px;
  right: 0;
}
.hero .hero-container .hero_content .hero-customer-feedback .customer-img-container:nth-child(3) {
  left: 0;
  bottom: 21px;
  flex-direction: row-reverse;
}
.hero .hero-container .hero_content .hero-customer-feedback .customer-img-container:nth-child(4) {
  bottom: 65px;
  right: 0;
  align-items: start;
}
.hero .hero-container .hero_content .hero-customer-feedback .customer-img-container .customer_img {
  width: 24px;
  display: block;
  height: auto;
}
.hero .hero-container .hero_content .hero-customer-feedback .customer-img-container p {
  font-size: 10px;
  padding: 0.5em 1em;
  background: #ccf1e6;
  border-radius: 8px;
}
.hero .hero-container .hero_content .hero-title {
  font-size: 2rem;
  font-size: clamp(2rem, 1.7rem + 1.5vw, 3.5rem);
  max-width: 572px;
  margin: 0 auto;
}
.hero .hero-container .hero_content .hero-title span {
  color: #5cd5dd;
}
.hero .hero-container .hero_content .hero-text {
  padding-block: 2em;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  line-height: 1.25;
}
.hero .hero-container .hero_content .get-started {
  background: #7868d8;
  color: #fff;
  border-radius: 8px;
  padding: 0.86em 2.36em;
  margin-bottom: 2em;
}
.hero .hero-container .hero-video {
  margin-top: 2em;
}

.container {
  padding-inline: 1rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  margin-top: 6.25em;
}

/*# sourceMappingURL=style.css.map */
